
.editor-container {
  display: flex;
  width: 100%;
  flex-direction: wrap;
  justify-content: center;
}

.editor-container > div {
  flex: 50%;
  padding: 10px;
}

.editor-container > div > textarea {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
}


.editor-container > div  h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }


.editor-container > div h2 { color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px; }


.editor-container > div .subheader { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 24px; }


.editor-container > div p { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px; }


.editor-container > div a { color: #ff9900; background: #fff4a3; text-decoration: none; }


.editor-container > div a:hover { color: #ffcc66 }