

.sittingConteiner {
  width: 600px;
  height: 600px;
  margin: 100px auto;
  border: 1px solid #dddddd;
  text-align: center;
  box-sizing: border-box;
}



 .switchStyle {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 130px ;
  
  
  
}


.hr {
  height: 5px;
  background-color: #3f51b5;
}

.SecondsInput {
    width: 310px;
    height: 40px;
    border: 1px solid #3f51b5;
    padding-left: 10px;
    background-color: #dddddd;
    border-radius: 3px;

}

.titleAutosave{ 
    margin-left: -200px;
    margin-bottom: 3px;
}

.userName {
  width: 300px;
  height: 20px;
  /* margin-left: 120px; */
  border: 1px solid #3f51b5;
  border-radius: 3px;
  padding: 10px;
  background-color: #dddddd;
}


/* .userName span {
  float:left;
} */

/* 
.userName button {
  width: 80px;
  float: right;
} */

.title {
  margin-left: -210px;
  margin-bottom: 3px;
  
}

.saveSetting {
  width: 150px;
  height: 30px;
  border: 1px solid #3f51b5;
  border-radius: 3px;
  margin: 180px auto;
  background-color: #3f51b5;
  font-size: 20px;
  display: block;
  
}
