.Account {
  display: flex;
  flex: 1;
}

.Account > aside {
  align-self: center;
  flex: 0 0 5vw;
  height: 50vh;
  order: -1;
  background: beige;
}

.Account > main {
  flex: 1;
  height: 100vh;
}

.sittingConteiner {
  width: 600px;
  height: 400px;
  margin: 100px auto;
  border: 2px solid #eee;
  text-align: center;
  padding: 10px;
}

.autoSaveText {
  font-size: 20px;
  /* text-align: left; */
  /* margin-left: 20px; */
}




