.Account {
  display: flex;
  flex: 1;
}

.Account > aside {
  align-self: center;
  flex: 0 0 5vw;
  height: 50vh;
  order: -1;
  background: beige;
}

.Account > main {
  flex: 1;
  height: 100vh;
}




