div.PostView {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  margin:auto;
}

.box{
  max-width:50%;
  margin:5px;
}

@media only screen and ( max-width:768px ){	
  .box{
      width:100%;
      max-width:100%;
      padding: 10px;
  }
}

div.PostView  h1 { 
  color: #7c795d;
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  font-weight: normal;
  font-style: italic;
  line-height: 48px;
  margin: 0;
  margin-bottom: 20px; 
}

div.PostView h2 {
  color: #7c795d;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px; 
}

div.PostView .subheader {
  font-size: 26px;
  font-weight: 300;
  color: #ffcc66;
  margin: 0 0 24px;
}

div.PostView p {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 24px;
}

div.PostView li {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

div.PostView a {
  color: #ff9900;
  text-decoration: none;
  font-size: 20px;
}

div.PostView a:hover { 
  color: #ffcc66;
}

body {
    padding: 50px;
    /* background-color: blueviolet; */
}

.app {
    /* width: 1200px; */
    /* height: 600px; */
    border: 2px solid black;
    display: flex;
    align-items: stretch;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.postView {
    width: 70%;
    border: 1px solid green;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    width: 30%;
    padding-left: 200px;
    padding-right: 150px;
    box-sizing: border-box;
    height: 250px;
}

.flexContainer img {
    width: 50px;
    height: 50px;
   
}

.flexContainer button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-style: none;
    color: #6475ab;   
}

.postComment {
    border: 2px solid blue;
    padding: 10px;
    
}

.test {
    display: flex;
}

.postComment img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    
}

.commentText {
    width: 85%;
    height: 50px;
}

.newCommrnts {
    height: 70px;
}
.commentBtn {
    /* margin-bottom: 40px; */
    margin-left: 20px;
    width: 80px;
    height: 30px;
    background-color: #0089ff;
    border: 1px solid #0089ff;
    border-radius: 5px;
    color: white;
    margin-top: 25px;

    
}

.textContainer {
    padding: 10px;
    display: flex;
}

.newComment {
    padding: 10px;
    border: 2px solid purple;
    margin-bottom: 10px;
}

.removeComment {
   margin-left: 1100px;
}
