div.PostView {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  margin:auto;
}

.box{
  max-width:50%;
  margin:5px;
}

@media only screen and ( max-width:768px ){	
  .box{
      width:100%;
      max-width:100%;
      padding: 10px;
  }
}

div.PostView  h1 { 
  color: #7c795d;
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  font-weight: normal;
  font-style: italic;
  line-height: 48px;
  margin: 0;
  margin-bottom: 20px;
  color: red;

}

div.PostView h2 {
  color: #7c795d;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px; 
}

div.PostView .subheader {
  font-size: 26px;
  font-weight: 300;
  color: #ffcc66;
  margin: 0 0 24px;
}

div.PostView p {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 24px;
  text-align: justify;
  
}

div.PostView li {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

div.PostView a {
  color: #ff9900;
  text-decoration: none;
  font-size: 20px;
}

div.PostView a:hover { 
  color: #ffcc66;
}

.postViewBody{
    text-align: justify;
    font-size: 20px;
    line-height: 150%;
    padding: 10px;
}
.postViewTitle {
    text-align: center;
    padding: 10px;
 
}

.postView {
    text-align: center;
    width: 70%;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width: 30%;
    margin-top:  0px;
    padding-left: 200px;
    padding-right: 150px;
    box-sizing: border-box;
    height: 500px;
}

.flexContainer img {
    width: 50px;
    height: 50px;
   
}

.flexContainer button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-style: none;
    color: #6475ab;   
}

.postComment {
    padding: 20px;
    
}

.containerTools {
    display: flex;
}

.postComment img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: 10px;

    
}

.commentText {
    width: 85%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
}


.commentBtn {
    /* margin-bottom: 40px; */
    margin-left: 20px;
    width: 80px;
    height: 30px;
    background-color: #0089ff;
    border: 1px solid #0089ff;
    border-radius: 5px;
    color: white;
    margin-top: 25px;

    
}

.textContainer {
    padding: 10px;
    display: flex;
    
}

.newComment {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 2px 1px 8px 2px #888888;
    
}

.newComment h3 {
    float: left;
}

.newComment p {
    text-align: justify;
    font-size: 20px;
    margin: 10px;
}

.removeComment {
   margin-left: 1100px;
}

.icon-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* border-radius: 20%; */
    /* background-color: Gainsboro; */
    /* text-align: center; */
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    padding: 5px auto;
  }

.centerContainer {
    
    width: 80%;
    margin: 50px auto;
  }
  
  .fixedTools{
      position: fixed;
      top: 200px;
      width: 50px;
     
  }

  .flexContainer button {
      width: 60px;
      height: 40px;
      padding: 5px;
      text-align: center;
      
  }
  ul, li {
      list-style: none;
  }