body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.box{
  max-width:50%;
  margin:5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: Gainsboro;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
}

.buttonStyle {
  width: 50px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 43px;
  margin-left: 81%;
  border: 1px solid black;
  position: absolute;
}

.listText,.gridText{
  width: 70%;
  color:black;
  border-bottom: 1px solid black;
   margin-left: 10px;
}
.forDateL,.forDateG{
  margin-left: 84%;
  color: gray;
}
.forDateG{margin-left: 65%;}

.gridText{
  width: 26%;
  border-right: 1px solid black;
  border-bottom: 0px solid black;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  border-radius: 5px;
}
.listOrGridStyle{
  width: 80%;
  margin-left: 16%;
  margin-top: 40px;
  display: inline-block;
  overflow: hidden;
}






